/* .open {
  height: 1200px;
  width: 200px;
  background-color: rgb(195, 174, 240);
  position: -webkit-sticky;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  top: 0;
}
/* no scroll */
/*.close {
  height: 1200px;
  width: 60px;
  position: fixed;
  background-color: rgb(195, 174, 240);

  overflow-x: hidden;
  top: 0;
} */
.sidebar {
  display: flex;
  background-color: rgb(195, 174, 240);
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: fixed;
}

.sidebar-open {
  width: 600px;
}
