.Footer {
  background-color: #e899db;
  color: rgb(16, 1, 14);
  height: 300px;
  width: 100%;
}
.flex1 {
  display: flex;
  flex-direction: column;
  padding: 4px;
  padding-left: 22px;

  /* width: 50%; */
}
p {
  margin-left: 59px;
}

/* for columns: https://www.geeksforgeeks.org/how-to-define-two-column-layout-using-flexbox/ */
