.Footer {
  background-color: #e899db;
  color: rgb(16, 1, 14);
  height: 200px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: smaller;
}

/* position: fixed; */
/* height: 50px;
  background-color: red;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; */
/* width: 100%;
  max-width: 100vw;
  height: 350px;
  background: var(--pure-white); */

.flex1 {
  display: flex;
  flex-direction: column;
  padding: 4px;
  padding-left: 22px;

  /* width: 50%; */
}
.Footer p {
  margin-left: 59px;
}

/* for columns: https://www.geeksforgeeks.org/how-to-define-two-column-layout-using-flexbox/ */
