.product-card {
  /* height: 250px;
  width: 250px; */
  border: 2px solid cadetblue;
  /* padding: 50px;
  margin-left: 60px; */
}
.product-card img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product-name {
  text-align: center;
}
