.product-card {
  /* height: 250px;
  width: 250px; */
  border: 2px solid rgb(162, 239, 241);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 60px;
  flex-direction: column;
}
.product-card img {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
}

.product-name {
  text-align: center;
}

.add,
.remove {
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
  align-items: center;
  width: 25px;
}
.remove {
  margin-top: 0;
}
.product-quantity {
  text-align: left;
  margin-left: 8px;
}
