.navbar {
  background-color: rgb(144, 102, 235);
  height: 120px;
  width: 100%;
  color: aliceblue;
}

li {
  display: block;
  text-align: center;
  overflow: hidden;
  display: inline;
  padding: 10px;
}
